<table>
<thead>
  <tr>
    <th>AREA</th>
    <th>CURSO</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td rowspan="2">Arte</td>
    <td>Mosaiquismo Básico</td>
  </tr>
  <tr>
    <td>Perfeccionamiento en Diseño de Pintura Artística</td>
  </tr>
  <tr>
    <td rowspan="2">Textil</td>
    <td>Operador de Máquina Marroquinera</td>
  </tr>
  <tr>
    <td>Operador de Máquina Industrial Textil</td>
  </tr>
  <tr>
    <td rowspan="2">Belleza Integral</td>
    <td>Belleza de Pies</td>
  </tr>
  <tr>
    <td>Perfeccionamiento en técnicas de corte, color y peinado</td>
  </tr>
  <tr>
    <td rowspan="2">Servicios</td>
    <td>Ayudante de Cocina</td>
  </tr>
  <tr>
    <td>Lectura y Escritura Braille</td>
  </tr>
  <tr>
    <td rowspan="4">Construcción</td>
    <td>Instalaciones domiciliarias de electricidad</td>
  </tr>
  <tr>
    <td>Soldadura por Arco para la industria de la construcción</td>
  </tr>
  <tr>
    <td>Muebles Hogar MDF</td>
  </tr>
  <tr>
    <td>Tapicería II</td>
  </tr>
  <tr>
    <td rowspan="2">Administración</td>
    <td>Mantenimiento y reparación de equipos informáticos</td>
  </tr>
  <tr>
    <td>Operador de informática de oficina</td>
  </tr>
</tbody>
</table>